<div class="row">
  <div class="col-md-12">
    <div>
    <h3>Xander's JSON(pronounced <i>jason</i>) Test Page</h3>
    </br>
    <h4><a href="#" onclick="send_event({app_id: 11, name: 'Genesis', action_1: 'its not cool', action_2: 'to like'})">Clink to send JSON event to Heroku site.</a></h4>
    </br>
    <h4>Login to Heroku app with <a href="https://metrix-jh.herokuapp.com/apps/11">this</a> link</h4>
    <h3>Crendentials</h3>
    <h4>Username: admin@example.com</h4>
    <h4>password: welcome123</h4>
    </div>
  </div>
</div>