<div class="row">
  <div class="col-md-12">
    <div>
    <h3>Xander's JSON(pronounced <i>jason</i>) Test Page</h3>
    </br>
    <h4><a href="#" onclick="send_event({app_id: 12, name: 'Perl', action_1: 'Cat', action_2: 'name'})">Clink to send JSON event to Heroku site.</a></h4>
    </br>
    <h4>Login to Heroku app with <a href="http://grazier1-175450.usw1-2.nitrousbox.com/api/apps/12">this</a> link</h4>
    <h3>Crendentials</h3>
    <h4>Username: admin@example.com</h4>
    <h4>password: welcome123</h4>
    </br>
    </div>
  </div>
</div>