<div class="row">
  <div class="col-md-12">
  <table class="table">
  <tr>
    <td><b>ID</b></td>
    <td><b>Name</b></td>
    <td><b>Description</b></td>  
  </tr>
    <%= render @apps %>
  </table>
  </div>
</div>